@import '../../../common/Colors.scss';

.TodoItem-Container {
    display: flex;
    min-width: 100%;
}

.TodoItem-Checkbox {
    display: flex;
    align-items: center;
    padding: 10px;
}

.TodoItem-Label {
    display: flex;
    min-width: 100%;
    align-items: center;
    padding: 10px 19px 10px 19px;
}
