$armyGreen: #667761;
$black: #000000;
$blackWithAlpha: #0000006a;
$lightBeige: #eae1df;
$lightBrown: #b79492;
$mediumBrown: #917c78;
$slateGreen: #545e56;

$background-color: $mediumBrown;
$box-shadow-color: $blackWithAlpha;
$content-background-color: $lightBeige;
$link-color: $lightBeige;
$link-hover-color: $lightBeige;
$navigation-background-color: $slateGreen;
