@import '../../common/Colors.scss';

.Todo-Input:focus {
    outline: none;
}

button {
    font: inherit;
}

.Todo-Container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
}

.Todo-List {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.Todo-Form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0px;
}

.Todo-Input {
    display: flex;
    align-self: center;
    height: 100%;
    width: 95%;
}

.Todo-Button {
    display: flex;
    align-items: center;
}

.Todo-List-Items {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.Todo-List-Item {
    min-width: 100%;
}
