@import '../../common/Colors.scss';

.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    background-color: $navigation-background-color;
}

.Navigation-item {
    align-self: center;
    margin: 0 40px 0 40px;
    padding: 10px 0 10px 0;
    text-transform: capitalize;
}

a {
    color: $link-color;
}

a:link {
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid $link-hover-color;
}
