.WeatherItem-Container {
    width: 350px;
    margin: 10px;
    padding: 10px;
}

.WeatherItem-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeatherItem-Image {
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
}
